body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}
#titleContainer {
    background-image: url('titlebackground.jpg');
    background-size: cover;
    color: white;
    background-position: center;
    text-align: center;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#title {
    background-image: url('titlebackground.jpg');
    background-size: cover;
    color: white;
    background-position: center;
    text-align: center;
    padding: 40px;
    margin-bottom: 10px;
}

#title h1 {
    padding-bottom: 40px;
}

#title nav a{
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

#title nav a:hover{
    color: #d2d6d5;
}

#titleContainer nav a{
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

#titleContainer nav a:hover{
    color: #d2d6d5;
}

h1 {
    margin: 0;
    padding: 10px;
    display: inline-block;
}

#context {
    margin-bottom: 40px;
}

.box {
    background-color: white;
    display: flex;
    margin: 20px auto;
    max-width: 1000px;
    border: 1px dotted black; /* Blue border for the box */
    border-radius: 8px;
    padding: 10px;
}
  
.box img {
    float: left;   
    margin: 20px;
    height: 280px; /* Set the width of the image */
    width: 280px; /* Set the height of the image */
}
  
.box .content {
    text-align: left;
}
  
.box h2 {
    color: #0166c4;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box h3 {
    color: #0166c4;
    margin: 10px;
    padding-bottom: 0;
}

.box p {
    padding-top: 25px;
    margin: 10px;
}

.box nav a {
    color: blue;
    margin: 10px;
}

.box nav a:hover {
    color: purple;
}

#pu {
    padding-top: 0;
}
  
#context h2 {
    color: #0166c4;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

#intro-container {
    background-color: #fff; 
    box-shadow: 5px 5px 19px #ccc;
    padding: 5px 20px 20px 20px;
    margin: 20px auto; 
    max-width: 800px;
    line-height: 1.6;
}

#searchInput {
    margin-bottom: 10px;
}
#searchResults {
    margin-top: 10px;
}
table {
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-weight: Medium;
    font-size: 14px;
}

th {
    background: #0166c4;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 10px 20px;
}

tr:nth-child(even) {
    background: #dbdbdb;
}
#searchResults p {
    margin: 5px;
    padding: 5px;
}

#searchContainer {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#searchInput {
    width: 800px;
    height: 28px;
    font-size: 17px;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}  

#searchButtons {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

#searchButtons button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0166c4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButtons button.selected {
    background-color: #ffffff;
    color: #0166c4;
}

#output table {
    width: 100%;
    border-collapse: collapse;
}

#output th {
    background: #0166c4;
    color: #ffffff;
    text-align: left;
    padding: 10px 20px;
}

#output td {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

#output tr:last-child td {
    border-bottom: none;
}

.td1 {
    font-weight: bold;
    color: #0166c4;
}

#csvFile {
   background-color: #0166c4;
   color: white; 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d2d6d5;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d2d6d5;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #d2d6d5;
}

#imageContainer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    padding-bottom: 10px;
}
  
#labImage {
    max-width: 400px;
}
  
#schoolImages {
    max-width: 800px;
}
  
#schoolImages img {
    max-width: 400px;
    margin-left: 10px;
}